<ul>
  {{#each}}
    <li>
      {{#link-to 'character' this}}
        {{name}},
        {{description}},
        {{file}}
      {{/link-to}}
    </li>
  {{else}}
    <li>No characters found.</li>
  {{/each}}
</ul>
