<br>
<div class='row'>
  <div class="small-8 large-8 columns">
    <div class='text-center'>
    <h2>Looking for the perfect princess party near Portland, Oregon? Get one of our characters at your next event for magical and memorable fun!</h2>
    <br>
    <h4>Make this the birthday party your child will always remember.</h4>
    <br>
    <h4>Invite a fairytale character to visit them on their birthday! From storytelling to singing their favorite songs to nail painting and more, Princess Parties NW is here to partner with you to give your child the most special birthday they’ve ever had.</h4>
    <br>
    <ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-4">

      </ul>
    </div>
    <p>
      Currently, we offer parties featuring the following classic fairytale characters:
    </p>

    <br>
    <p>
      (P.S. Don’t see the character you want? We’re taking suggestions for our next princesses! We’ll consider booking a different character with 6-8 weeks notice.)
    </p>
    <br>
    <h2>How to Book Your Party</h2>
    <h4>We can book your party online or over the phone.</h4>
    <p>To book online, head to our Party Package page.</p>
    <div class='center-text'>
      <p>{{#link-to 'party-packages'}}<button class='tiny'>party packages</button>{{/link-to}}</p>
    </div>
    <p>Alternatively, call 971-732-0686 to book your party.</p>
    <h4>Call 971-732-0686 now to book your party!</h4>
  </div>
  <div class="small-4 medium-3 columns">
    <div class='text-center'>
      <h1>About Us</h1>
    </div>
    <p>
      Brunch direct trade lo-fi, PBR post-ironic 90's distillery wayfarers Etsy. Helvetica DIY Etsy gastropub. Whatever gastropub hella polaroid. Skateboard stumptown sartorial actually, readymade chia XOXO Schlitz mlkshk Brooklyn pop-up post-ironic.
    </p>
    <div class='br'></div>
    <div class='text-center'>
      <h1>Social</h1>
      <li class='icon'><a href='https://twitter.com/PrincessPartyNW'><img src='assets/twitter_64.png'></a></li>
      <li class='icon'><a href='https://www.facebook.com/princesspartiesnw'><img src='assets/facebook_64.png'></a></li>
      <li class='icon'><a href='http://www.pinterest.com/nwprincesses/'><img src='assets/pintrest_64.png'></a></li>
      <div class='br'></div>
    </div>
    <div class='text-center'>
      <h1>Ad Space</h1>
      <a href='http://www.pinterest.com/dustiarab/princess-parties-nw/'><img src='assets/about_us.png'></a>
    </div>
  </div>
</div>
